<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
      
       <!-- {{#if showTests}} 
            <link rel="stylesheet" href="/vendor/mocha.css"/>
        {{/if}}-->
        {{{_sections.head}}}
    </head>
    
    <body>
        {{{body}}}
        <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
        {{{_sections.jquery}}}
        <header> <img src="{{static '/img/Logo.jpg'}}" alt="Logo"/> </header>
      <!--  {{#if showTests}}
            <div id="mocha"> </div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script> 
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            <script src="/qa/tests-global.js"></script>
             {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
        {{/if}}-->
    </body>
</html>